$primary-color: #007bff;
$secondary-color: #6c757d;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f3f3;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.pomodoro_main_wrapper {
  text-align: center;
  background-color: #e8e7ec;

  width: 70%;
  margin: auto;
  margin-bottom: 4em;
  padding: 2em;

  border-radius: 7px;
  box-shadow: 0 0 15px #bebec2;
  .pomodoro_time {
    font-size: 7em;
    font-weight: 700;
  }
  .pomodoro_buttons_pause {
    display: flex;
    justify-content: space-evenly;
    button {
      background-color: black;
      color: white;
      font-weight: 700;
      font-size: 1.5em;
      padding: 0.7em 1.1em;
      width: 5em;
      border-radius: 7px;
      border: none;
      box-shadow: 0 0 15px #adaeae;
    }

    .pause {
      background-color: #696969;
    }
  }
  .pomodoro_change_timer {
    margin-top: 2em;
    button {
      width: 33%;
      padding: 1em;

      border: none;
      background-color: black;
      color: #fff;
    }
    .left {
      border-radius: 7px 0 0 7px;
    }
    .center {
      border-inline: solid 1px rgb(217, 217, 217);
    }
    .right {
      border-radius: 0 7px 7px 0;
    }
  }
}

.pomodoro_sub_wrapper {
  padding-bottom: 2em;
}

.pomodoro_sub_wrapper_advice {
  padding-block: 0.5em;
  button {
    padding: 1em 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: white;
    border-radius: 7px;
    border: none;
    background-color: black;
  }
  .advice {
    font-size: 1.5em;
  }
}

.info_wrapper {
  width: 70%;
  margin: auto;
  margin-bottom: 5em;
  padding: 2em;
  background-color: #edeae7;

  border-radius: 7px;
  box-shadow: 0 0 15px #d1d4d5;
  .info_heading {
    text-align: center;
    margin-bottom: 1.2em;
    font-size: 1.7em;
  }
  .info_content {
    text-align: justify;
    margin-bottom: 2em;
  }
  h3 {
    text-align: center;
    margin-bottom: 0.7em;
  }
}

.Navbar_Common {
  padding: 0.7em 4em 0.7em 4em;
  ul {
    li {
      text-decoration: none;
      display: inline-block;
    }
    display: flex;
    .Navbar_brand {
      width: 70%;
    }
    .Navbar_links {
      display: flex;
      justify-content: space-evenly;
      width: 30%;
    }
  }
}

.home_component {
  padding: 5em;
  .columns {
    margin-bottom: 2em;
  }
}

.columnLinks {
  background-color: grey;
  width: 100px;
  height: 100px;
}

.wrapper_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7em, 14em));
  justify-content: center;
  grid-gap: 1.5em;
  margin: 1rem;

  .createwrapper:hover {
    background-color: #0458b3;
    cursor: pointer;
  }
  .create {
    margin-top: 60%;
  }
  .container {
    padding: 0;
    background-color: $primary-color;
    box-shadow: 0px 2px 8px 0px $secondary-color;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    height: 21em;
    .note_text_area {
      background-color: #007bff00;
      border: none;
      width: 100%;
      height: 100%;
      resize: none; /* Disable resizing */
      border-color: none;
      box-shadow: none;
    }
    .note_text_area:hover {
      border: none;
      border-color: none;
      box-shadow: none;
    }
    // position: relative;
  }
  button {
    border: none;
    width: 100%;
    font-weight: bold;
  }
}
