@media (min-width: 800px) {
  .pomodoro_buttons_pause {
    margin-bottom: 3em;
  }

  .pomodoro_change_timer {
    button {
      padding: 2em;
      font-size: 1.1em;
    }
    padding-inline: 4em;
  }
  .info_wrapper {
    h3 {
      font-size: 3em;
    }
  }
}

@media (max-width: 1980px) {
}
